<style>

    .bg-orange {
        background-color: darkorange;
        font-weight: bold;
        color: #ffffff;
        vertical-align:middle;
        line-height : 200%
    }

    IMG.centered-horizontally {
        display: block;
        margin-left: auto;
        margin-right: auto }
</style>

<div class="container well">
    <br>
    <!-- Upload slike na gallery - 9 stoji cisto radi testiranja, dok backend ne omoguci galeriju -->
    <form id="imageUploadForm" role="form" method="POST" enctype="multipart/form-data" action="">
        <div class="row">
            <div class="col-md-6">
                <input type="file" name="content" accept="image/*" id="imageContentInputTag">
            </div>
            <div class="col-md-4">
                <select class="form-control" name="bubble_title" id = "bubbleTitleSelect">
                </select>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-lg btn-primary" id="setAsAvatarButton">Set as avatar</button>
            </div>
        </div>

        <br>
        <!-- naslov slike -->
        <label class="control-label">Title:</label>
        <textarea class="form-control" rows="1" id="titleArea" name="title"></textarea>

        <br>
        <!-- slika -->
        <a href="" class="image-popup-no-margins" id="largeImageLink">
            <img src="" class="centered-horizontally" alt="Medium Image" style="" id="imageContainer">
        </a>

        <br>
        <!-- opis ispod slike -->
        <div class="row">
            <div class="col-md-4 text-center " id="dateColumn">
                <p class="bg-orange" id="dateModified"></p>
            </div>
            <div class="col-md-4 text-center">
                <button type="button" class="btn btn-lg btn-info" id="bubbleNameButton"></button>
            </div>
            <div class="col-md-4 text-center" id="authorNameColumn">
                <i><p class="bg-orange" id="authorName"></p></i>
            </div>
        </div>

        <br>
        <!-- opis slike -->
        <label>Description:</label>
        <textarea class="form-control" rows="5" id="descriptionArea" name="description"></textarea>



        <br>
        <!-- gumbi save i delete -->
        <div class="row">
            <div class="col-md-10">
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-lg btn-danger" id="deleteImageButton">Delete</button>
            </div>
            <div class="col-md-1">
                <input type="submit" id="submitButton" style="display : none;">
                <button type="button" class="btn btn-lg btn-primary" id="saveImageButton">Save</button>
            </div>
        </div>
    </form>

    <p style="display : none;" id="usernameTag"><%=user.username%></p>
    <p style="display : none;" id="userIDTag"><%=user.id%></p>
</div>

<script>
    var oldBubbleID = "";
    var newBubbleID = "";
    var url = document.location.href;
    var imageID = url.substring(url.lastIndexOf("/")+1);
    var userID = $("#userIDTag").text();
    var username = $("#usernameTag").text();
    var formUploadUrl = "";

    var alreadySubmitted = false;
    var alreadyPopulated = false;

    //populating the bubble title select
    if(!alreadyPopulated) {
        alreadyPopulated = true;
        $.get("/api/content/myBubbles", function(bubblesJson) {
            $.each(bubblesJson.bubbles, function(index, bubbleDescriptor) {
                //timeline is 1 - no images on timeline
                if(bubbleDescriptor.bubble_type_id!=1) {
                    var htmlOption = '<option value="' + bubbleDescriptor.id + '" ';
                    //which bubble to select by default?
                    if(index == 0) {
                        htmlOption +="selected ";
                    }
                    htmlOption +=">";

                    $("#bubbleTitleSelect").append(htmlOption + bubbleDescriptor.title + "</option>");
                }
            });
        });
    }

    //editing an existing picture
    if(imageID != "") {
        formUploadUrl="/api/content/edit/image/" + imageID;
        if($("#imageContentInputTag").attr("value") == undefined) {
            //ime se promijeni, samo da ne bi doslo do pomutnje,
            //sto se salje pod imenom "content"
            //na ovaj nacin(hack) ne salje se nista
            $("#imageContentInputTag").attr("name", "random");
        }
    }
    //$("#imageUploadForm").attr("action","/api/content/image/" + bubbleID);

    //new image, no reason to show delete button
    if(imageID == "") {
        $("#deleteImageButton").hide();
        $("#setAsAvatarButton").hide();
        $("#largeImageLink").hide();
        $("#bubbleNameButton").hide();
    }

    if(imageID == "") {

    }

    if(imageID != "") {
        //upravljanje gumbima
        $("#setAsAvatarButton").click(function() {
            //api/user/avatar/:image_id?
            $.post("/api/user/avatar/" + imageID, function() {
                window.location.href="/profile/" + username + "/view";
            });           
        });

        //bubble name
        $("#bubbleNameButton").click(function(){
            //old bubble id
            window.location.href="/bubble/" + oldBubbleID;
        });
    }

    //save button
    $("#saveImageButton").click(function(){
        //find new bubble id
        var selectTag = document.getElementById("bubbleTitleSelect");
        newBubbleID = selectTag.options[selectTag.selectedIndex].value;
        //new image
        if(imageID == "") {
            formUploadUrl = "/api/content/image/" + newBubbleID;
        }
        /**
        var imageTitle = $("#titleArea").text();
        var imageDescription = $("#descriptionArea").text();
        var imageJSON = {id : imageID, bubble_id:bubbleID, title:imageTitle, description:imageDescription};


        $.post("/api/content/image", imageJSON);
        **/

        //$("#submitButton").trigger("click");
        var frm = $('#imageUploadForm');
        if(!alreadySubmitted) {
            //alert(formUploadUrl);
            alreadySubmitted = true;
            var formData = new FormData(frm[0]);
            $.ajax({
                type: "POST",
                url: formUploadUrl,
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    window.location.href = "/homepage";
                }
            });
        }

        //vjer. će trebat neki redirect odradit, na homepage ili galeriju
    });

    //delete button
    $("#deleteImageButton").click(function(){
        $.post("/api/content/delete/"+imageID, function() {
            window.location.href = "/homepage";
        });
        ///content/image/:imageID/delete/
        //vjer. će trebat neki redirect odradit, na homepage ili galeriju
        //također, trebat će odradit upravljanje pogreškama, šta ako neko klikne 
        //na delete, a radi se o novoj slici, tj., imageID=""
    });


    //ajax form submit - FormData doesnt work in IE9
    /*
        var frm = $('#imageUploadForm');
        frm.submit(function (ev) {

            ev.preventDefault();
            if(!alreadySubmitted) {
                alreadySubmitted = true;
                var formData = new FormData($(this)[0]);
                $.ajax({
                    type: frm.attr('method'),
                    url: formUploadUrl,
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (data) {
                        window.location.href = "/homepage";
                    }
                });
            }
        });
        */

    if(imageID != "") {
        //popunjavanje naslova, opisa,...
        ///api/content/image/:image_id
        $.get("/api/content/image/"+imageID, function(imageDescriptor, status) {
            oldBubbleID = imageDescriptor.bubble_id;

            //link na veliku sliku
            //ovo bi trebao biti ok link, ali treba loadati partial za prikaz slike (samo slike) - Domagoj
            $("#largeImageLink").attr("href",imageDescriptor.content + '?size=large');
            //link na samu sliku - pomocu ovog se dohvaća slika
            $("#imageContainer").attr("src",imageDescriptor.content + "?size=medium");

            $('.image-popup-no-margins').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                closeBtnInside: false,
                fixedContentPos: true,
                mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
                image: {
                    verticalFit: true
                },
                zoom: {
                    enabled: true,
                    duration: 300 // don't foget to change the duration also in CSS
                }
            });

            //naslov slike
            $("#titleArea").text(imageDescriptor.title);
            //date modified
            $("#dateModified").text(new Date(imageDescriptor.updated_at).toLocaleString());
            //image description
            $("#descriptionArea").text(imageDescriptor.description);

            //get bubble info - /api/bubble/:id/content/
            //get user info        
            $.get("/api/bubble/"+imageDescriptor.bubble_id+"/content/", function(bubbleDescriptor, status) {

                //naslov bubblea
                $("#bubbleNameButton").text(bubbleDescriptor.attributes.title);

                $.get("/api/user/info?id="+bubbleDescriptor.attributes.user_id, function(userDescriptor, status) {
                    //ime autora
                    $("#authorName").text(userDescriptor.username);
                });
            }); 
        });
    }


</script>