    </div>
    
<!-- jQuery library -->
<!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
<!--
    <script src="/javascripts/bootstrap.min.js"></script>

    <!-- BBC2HTML -->
    <script src="/javascripts/bbc2html.js"></script>

    <!-- date.format -->
    <script src="/javascripts/date.format.min.js" type="text/javascript"></script>
    
    <!-- Magnific popup -->
    <script src="/javascripts/magnific.popup.min.js"></script>
    
    <!-- DoT -->
    <script src="/javascripts/doT.min.js" type="text/javascript"></script>
    
    <!-- Page -->
    <script src="/javascripts/page.min.js"></script>
    
    <!-- Navigator -->
    <script src="/javascripts/navigator.js"></script>
    
	<!-- DoT templates -->
	
	<!-- My Bubbles -->
    <script id="my-bubbles-tmp" type="text/x-dot-template">
      
      {{? it.bubbles.length > 0 }}
        {{~it.bubbles :bubble:index}}
          <li>
            <a href="/bubble/{{= bubble.id }}">
              {{? bubble.bubble_type_id == 1 }}
                <span class="glyphicon glyphicon-text-size"></span> 
              {{?}}
              {{? bubble.bubble_type_id == 2 }}
                <span class="glyphicon glyphicon-picture"></span> 
              {{?}}
              {{? bubble.bubble_type_id == 3 }}
                <span class="glyphicon glyphicon-font"></span> 
              {{?}}
              {{= escapeHtml(bubble.title) }}
            </a>
          </li>
        {{~}}
      {{??}}
        <li class="dropdown-header">No bubbles</li>
      {{?}}
		
		</script>
	
    <script id="bubble-tmp" type="text/x-dot-template">
      
        <div>
            <h2>{{= escapeHtml(it.title) }}</h2>
            <p>{{= escapeHtml(it.description) }}</p>
        </div>
      
    </script>
	
	<!-- Feed -->
    <script id="feed-tmp" type="text/x-dot-template">
    {{? it.attributes }}
        <div class="page-header container">
            <div class="col-sm-8">
                {{? it.attributes.user_id == globalUserId }}
                    <a class="popup-ajax btn btn-default col-xs-2" href="/partial/edit-bubble/{{= it.attributes.id }}">Edit</a>
                {{?}}
                <h3>{{= escapeHtml(it.attributes.title) }}
                    {{? it.contents.length }}
                        <small>({{= it.contents.length }})</small>
                    {{?}}
                </h3>
                {{? it.attributes.description }}
                    <p class="col-xs-12">{{= escapeHtml(it.attributes.description) }}</p>
                {{?}}
            </div>
            <div class="col-sm-4">
                <div class="time">Created {{= dateFormat(it.attributes.created_at, dateTimeFormat) }}</div>
                {{? it.attributes.created_at != it.attributes.updated_at }}
                    <div class="time">Updated {{= dateFormat(it.attributes.updated_at, dateTimeFormat) }}</div>
                {{?}}
            </div>
        </div>
    {{??}}
      {{ it.attributes=<%= user.user_id %> }}
    {{?}}
		{{? it.contents.length > 0 }}
			{{~it.contents :post:index}}
				<div id="post-{{= post.id }}" class="post col-md-6 col-sm-12">
				<div class="header">
          {{? post.username == globalUsername || it.attributes.user_id == globalUserId }}
            <span class="actions-link">
              <a class="edit" 
              href="{{? post.content_type_id == 2 }}/image/edit/{{= post.id }}{{??}}/content/post/{{= post.id }}/edit{{?}}">Edit</a>
              <a class="remove" onclick="removeContent('{{= post.id }}')">Remove</a>
            </span>
          {{?}}
					<span class="stats">
						<span class="likes badge">{{=post.likes}}</span> + 
						<span class="dislikes badge">{{=post.dislikes}}</span> = 
						<span class="karma badge">{{=post.likes-post.dislikes}}</span>
					</span>
					{{? post.username != undefined }}
						<a class="author" href="/profile/{{= post.username }}/view">
							<img width="64" height="64" src="{{= post.avatar }}?size=avatar" />
							<span class="username">
								<span class="glyphicon glyphicon-user"></span>{{=post.username}}
							</span>
						</a>
					{{?}}
					{{? post.title }}
              <h4>{{= escapeHtml(post.title) }}</h4>
          {{?}}
					<span class="date-time">
						<span class="glyphicon glyphicon-time"></span> {{= post.created_at}}
						{{? post.updated_at != post.created_at }} 
							<span data-toggle="tooltip" title="Updated {{= post.updated_at }}" class="glyphicon glyphicon-pushpin"></span>
						{{?}}
					</span>
					{{? post.location!=null }}
						<a onclick="showOnMap({{=post.location}})" class="location">
							<span class="glyphicon glyphicon-map-marker"></span>
						</a>
					{{?}}
				</div>
				<div class="content">
          {{? post.content_type_id == 1 }}
              {{= post.content }}
          {{?? post.content_type_id == 2}}
              <a class="image-popup-no-margins" href="/.{{= post.content }}?size=large">
                <img src="/.{{= post.content }}?size=medium" />
              </a>
              {{? post.description }}
                <p>{{= escapeHtml(post.description) }}</p>
              {{?}}
          {{?}}
				</div>
				<ul class="actions">
				  <li>
					<a onclick="toggleOpinion('like', '{{=post.id}}')" class="like{{? post.iLike == 1 }} active{{?}}">
					  <span class="glyphicon glyphicon-thumbs-up"></span> Like
					</a>
				  </li>
				  <li>
					<a onclick="toggleOpinion('dislike', '{{=post.id}}')" class="dislike{{? post.iDislike == 1 }} active{{?}}">
					  <span class="glyphicon glyphicon-thumbs-down"></span> Dislike
					</a>
				  </li>
				  <li>
					<a onclick="loadComments({{= post.id }})" class="comment">
					  <span class="glyphicon glyphicon-comment"></span> Comments
					</a>
				  </li>
				</ul>
				<div class="comments">
					<ul>
					</ul>
					<div class="col-sm-9">
						<textarea class="form-control"></textarea>
					</div>
					<div class="col-sm-3">
						<button onclick="postComment({{= post.id }})" class="btn btn-primary">Post</button>
					</div>
				</div>
				</div>
			{{~}}
		{{??}}
			<div class="alert alert-info">There is currently no content to show</div>
		{{?}}
	</script>
	
	<!-- Comments -->
    <script id="comments-tmp" type="text/x-dot-template">
		{{~it.comments :comment:index}}
			<li>
				<div class="header">
					<a href="/profile/{{= comment.username }}/view" title="View {{= comment.first_name }}&#39;s profile">{{= comment.username }}</a> {{=comment.created_at}}
					{{? comment.updated_at != comment.created_at }}
						, <em>updated {{= comment.updated_at }}</em>
					{{?}}
					{{? comment.username == globalUsername }}
						<span class="actions">
							<a class="edit" onclick="editComment('{{=comment.id}}')">
								<span class="glyphicon glyphicon-edit"></span>Edit
							</a>
							<a class="remove" onclick="removeComment('{{=comment.id}}')">
								<span class="glyphicon glyphicon-remove-circle"></span>Remove
							</a>
						</span>
					{{?}}
				</div>
				<div id="comment-{{=comment.id}}">{{= escapeHtml(comment.comment) }}</div>
			</li>
		{{~}}
	</script>
</body>
</html>