    </div>
    
<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/javascripts/bootstrap.js"></script>

    <!-- Navigator -->
    <script src="/javascripts/navigator.js"></script>
</body>
</html>