<style>
#main-content {
    margin-bottom: 0;
}
#contacts-box {
    background: #eee;
    color: darkgrey;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-right: 0;
    heigth: 100%;
    overflow-y: scroll;
}
#contacts-box > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#contacts-box > ul > li {
    margin: 0;
}
#contacts-box > ul > li > a {
    display: block;
    padding: 15px 10px 15px 5px;
}
#contacts-box > ul > li > a:hover {
    background: #fff;
    text-decoration: none;
}
#contacts-box > ul > li > a > img {
    width: 32px;
    heigth: 32px;
    float: left;
    margin: 0 5px;
    border-radius: 2px;
}
#contacts-box > ul > li > a > div.time {
    color: darkgrey;
    float: right;
}

@media (max-width: 768px) {
    #messages-box {
        margin: 0 20px;
    }
}
#messages-box {
    border: 1px solid black;
    border-bottom: 0;
    padding: 10px 0;
    margin-right: 0;
    padding-right: 0;
}

#messages-box > ol {
    overflow-y: scroll;
    max-height: 75vh;
}

#messages-box > ol.messages {
    list-style: none;
    margin: 0 15px;
    padding: 0;
}

#messages-box > ol.messages > li {
    float: left;
    clear: both;
    max-width: 512px;
}

#messages-box > ol.messages > li.my {
    float: right;
}

#messages-box > ol.messages > li > div.header {
    margin: 15px 20px -10px 20px;
    font: 0.9em sans-serif;
    color: grey;
}

#messages-box > ol.messages > li > div.header > span {
    padding: 5px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 5px;
    visibility: hidden;
}
#messages-box > ol.messages > li:hover > div.header > span {
    visibility: visible;
}

#messages-box > ol.messages > li.my > div.message {
    word-wrap: break-word;
    background-color: #cba;
}

#messages-box > ol.messages > li > div.message {
    background-color: #eee;
    color: #333;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
}

#message-editor {
    border: 1px solid;
    padding: 15px;
    resize: none;
    overflow: none;
}
</style>


<div>
    <div id="contacts-box" class="col-sm-4">
        <ul class="contacts">
            <li>
                <a href="#">
                    <img src="/images/avatar.jpg" />
                    <span class="user">Maja Matijasevic</span>
                    <div class="time">
                        <span class="glyphicon glyphicon-time"></span>
                        5.2.2015.
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/images/avatar.jpg" />
                    <span class="user">Igor Cukrov</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/images/avatar.jpg" />
                    <span class="user">Neven Babek</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-8" id="messages-box">
        <ol class="messages">
            <li>
                <div class="message">Evo jedne poruke</div>
            </li>
            <li>
                <div class="header">
                    <span class="time">
                        01/02/2015 12:12
                    </span>
                    <span class="location">
                        Zagreb, Croatia
                    </span>
                </div>
                <div class="message">All these bootstrap chat box templates are free to download. We collected few bootstrap chat box / room templates and we will update more chat room templates in future. Bootstrap chat room templates are easy to integrate with your website.</div>
            </li>
            <li class="my">
                <div class="header">
                    <span class="time">
                        01/02/2015 12:12
                    </span>
                    <span class="location">
                        Zagreb, Croatia
                    </span>
                </div>
                <div class="message">The bootstrap chat box template is a free to use template for personal and commercial use. Use this template for your projects and save your time.</div>
            </li>
            <li>
                <div class="message">Evo i jos jedne jako dobre poruke poruke</div>
            </li>
            <li class="my">
                <div class="message">Evo jedne poruke od mene!</div>
            </li>
            <li>
                <div class="message">All these bootstrap chat box templates are free to download. We collected few bootstrap chat box / room templates and we will update more chat room templates in future. Bootstrap chat room templates are easy to integrate with your website. All these bootstrap chat box templates are free to download. We collected few bootstrap chat</div>
            </li>
            <li class="my">
                <div class="message">The bootstrap chat box template is a free to use template for personal and commercial use. Use this template for your projects and save your time.</div>
            </li>
            <li>
                <div class="message">All these bootstrap chat box templates are free to download. We collected few bootstrap chat box / room templates and we will update more chat room templates in future. Bootstrap chat room templates are easy to integrate with your website.</div>
            </li>
        </ol>
    </div>
    <textarea class="col-sm-offset-4 col-sm-8 col-xs-12" id="message-editor" placeholder="Type a message here and press return to send"></textarea>
</div>

<script>
function escapeHtml(unsafe) {
    return unsafe
         .replace(/&/g, "&amp;")
         .replace(/</g, "&lt;")
         .replace(/>/g, "&gt;")
         .replace(/"/g, "&quot;")
         .replace(/'/g, "&#039;");
}
  
var editor = $('#message-editor');
editor.keypress(function(e) {
    if(e.which == 13) {
        e.preventDefault();
        var newMessage = escapeHtml(editor.val());
        
        if (newMessage.length) {
            var messages = $('#messages-box > ol.messages');
            if (messages.prop('scrollHeight') > 1080) {
                messages.children().slice(0, 2).remove();
            }
            messages.append('<li class="my"><div class="header"><span class="time">' + dateFormat(Date.now(), 'dd/mm/yyyy HH:MM') + '</span></div><div class="message">' + newMessage + '</div></li>');
            messages.scrollTop(messages.prop('scrollHeight'));
            editor.val('');
        }
        else {
            editor.focus();
        }
    }
})
</script>