<style>
	
	.jumbotron {
		background: url("/images/bubbles-profile.jpg") center center; 
		background-size: cover;
		overflow: hidden;
		height: 270px;
		z-index: 0;
	}
	
	.image-profile {
		height:200px;
		width:200px;
		margin-right: 3%;
		border-bottom: groove;
	}
	
	.avatar {
		margin: -160px 10px 20px 0px;
		z-index: 9;
	}
	
	.profile-name {
		color: white;
		padding: 25px;
		text-shadow: 3px 3px 4px #000000;
	}
	
	.profile-name > h1 {
		font-size: 40px;
		font-weight: bold;
	}
    
   .profile-tabs {
        color: black;
        font-size: 14px;
        font-weight: 200;
    }
    
    .nav-pills > li.active > a {
        background-color: red;
    }
    
    .nav-pills > li.active > a:focus {
        background-color: orangered;
    }
    
    /*
    .nav-pills > li.active > a:hover {
        background-color: red;
    }
    
    .nav-pills a, .nav-pills a:hover, .nav-pills a:focus {
        outline: 0;
    } 
    .nav-pills a {
		color: #ffffff
	} 

	.nav-pills a:hover {
		color: #560000;
		border-radius: 0px;
	}

	.nav-pills .active a:hover {
		color: #560000;
		border-radius: 0px;
	}
	
	.nav>li>a:hover,
	.nav>li>a:focus {
		text-decoration: none;
		background-color: #560000;
	}
	*/
</style>

<div class="jumbotron">
</div>
<div class="container">
	<div class="avatar">
		<img align="left" class="image-profile img-circle" src="/images/profile.jpg" alt="Profile image"/>
		<div class="profile-name">
			<h1>mrbean223</h1>
			<h4>Mirko Mirić</h4>
		</div>
	</div>
    <ul class="nav nav-pills profile-tabs">
        <li role="presentation" class="active"><a data-toggle="pill" href="#profile-account_info">Account information</a></li>
        <li role="presentation"><a data-toggle="pill" href="#profile-bubbles">Bubbles</a></li>
        <li role="presentation"><a data-toggle="pill" href="#profile-posts">Posts</a></li>
        <li role="presentation"><a data-toggle="pill" href="#profile-friends">Friends</a></li>
        <li role="presentation"><a data-toggle="pill" href="#profile-gallery-outer">Gallery</a></li>   
    </ul>
    
    <div class="tab-content">
        <div class="tab-pane fade in active" id="profile-account_info">
        </div>
        <div class="tab-pane fade" id="profile-bubbles">
        </div>
        <div class="tab-pane fade" id="profile-posts">
        </div>
        <div class="tab-pane fade" id="profile-friends">
        </div>
        <div class="tab-pane fade" id="profile-gallery-outer">
            <div id="profile-gallery">
                <!--  Ovdje će JQuery ubacit slike  -->
            </div>
            <div class="row">
                <div class="col-md-9">
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary" id="uploadImageButton">Upload Image</button>
                </div>
            </div>
        </div>
    </div>
</div>

//gallery tab script
<script>
    //these two variables are dependant
    var numOfImagesPerRow = 4;
    var bootstrapOccupation = 3;
    
    var numOfImagesInCurrentRow = 0;
    var nextRowIndex = 0;
    //kako ovo dohvatiti - ejs atributi ili
    //neki zahtjev za ovo
    var username = user.username;
    
    //gets an array of image descriptors
    //for all the images of the current user
    $.get("/user/images?username="+username, addImages);
    
    
    //potrebno je ovdje dodati funkcionalnost za upload slike
    //na server
    
    
    //adds all the images of the user to the gallery
    function addImages(imageArray, status) {
        $.each(imageArray, function(index, imageDescriptor) {
            var imageID = imageDescriptor.id;
            addImage(imageID);
        });
    }
    
    
    function addImage(imageID) {
        $.get("/content/image?id="+imageID, function(imageDescriptor, status) {
            addNextImage(imageDescriptor);
        });
    }
    
    //adds an image to the gallery
    //does all the necessary gallery formatting,
    //like adding rows, etc..
    function addNextImage(imageDescriptor) {
        //add new row
        if(numOfImagesInCurrentRow == 0) {
            var rowHTML = '<div class="row" id="galleryRow'+nextRowIndex + '"> </div>';
            nextRowIndex++;
            
            $("#profile-gallery").append(rowHTML);
        } 
        
        //add image to the end of the current row
        var currentRowIndex = nextRowIndex-1;
        var imageHTML = constructImageHTML(imageDescriptor);
        $("#galleryRow"+currentRowIndex).append(imageHTML);
        numOfImagesInCurrentRow++;
        
        //check if the row is filled
        if(numOfImagesInCurrentRow == numOfImagesPerRow) {
            numOfImagesInCurrentRow = 0;
        }
    }
    
    function constructImageHTML(imageDescriptor) {
        var imageSRC = '/bytes/image?id='+imageDescriptor.id;
        //add image page src here
        var imagePageSRC='/image/edit?id=' + imageDescriptor.id;
        var imageHTML = '<div class="col-md-'+bootstrapOccupation+'">';
        imageHTML+='<a href="'+imagePageSRC+'" class="thumbnail">';
        imageHTML+='<p>'+imageDescriptor.title+'</p>';
        imageHTML+='<img src="'+imageSRC+'" alt="Image" style="width:150px;height:150px">';
        imageHTML+='</a></div>';
    }
</script>
