<style>
	
	.jumbotron {
		background: url("image/bubbles-profile.jpg") center center;  /* W3C */
		background-size: cover;
		overflow: hidden;
		height: 270px;
		z-index: 0;
	}
	
	.image-profile {
		height:200px;
		width:200px;
		margin-right: 3%;
		border-bottom: groove;
	}
	
	.avatar {
		margin: -160px 10px 20px 0px;
		z-index: 9;
	}
	
	.profile-name {
		color: white;
		padding: 25px;
		text-shadow: 3px 3px 4px #000000;
	}
	
	.profile-name>h1 {
		font-size: 40px;
		font-weight: bold;
	}
	
</style>
<div class="jumbotron">
</div>
<div class="container">
	<div class="avatar">
		<img align="left" class="image-profile img-circle" src="image/profile.jpg" alt="Profile image"/>
		<div class="profile-name">
			<h1>mrbean223</h1>
			<h4>Mirko Mirić</h4>
		</div>
	</div>
</div>